div.form {
width: 50%;
margin: auto;
}
form {
overflow: hidden;
background-color: white;
border: 1px solid black;
border-radius: 10px;
margin: 2em 0;
padding: 2em;
}
form label {
font-weight: bold;
font-size: 0.7em;
}
form input[type="text"], form input[type="email"], form input[type="password"] {
width: 100%;
border-top: 0px;
border-left: 0px;
border-right: 0px; 
border-bottom: 1px solid blue;
outline: none;
}
div.error {
text-align: center;
border: 1px solid red;
border-radius: 10px;
margin: 2em auto .5em auto;
padding: .5em 2em .5em 2em;
color: red;
}
form p.bottom {
border-radius: 10px;
background-color:rgba(0, 0, 0, 1);
padding: 1em 2em 1em 2em;
margin: 0;
text-align: center;
}
